@import "../../styles/variables";

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &>button {
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        background-color: $cp-b1;
        color: $text-white;
        cursor: pointer;
        transition: $transition-short;

        &:hover {
            filter: brightness(1.2);
        }
    }
}