$text-black: #333;
$text-white: #f8fafc;

$bg-black: #1e293b;
$bg-white: #cbd5e1;

// Color palette https://colorhunt.co/palette/27374d526d829db2bfdde6ed
$cp-b1: #27374D;
$cp-b2: #526D82;
$cp-b3: #9DB2BF;
$cp-b4: #DDE6ED;

$transition-short: 0.2s;